---
layout: page
title: Our Team
show_title: true
---
{% if site.text_skin2 %}
<a href="#" class="float" onclick="return themeSwitcherFunction();">
  <i class="fa fa-moon my-float"></i>
  </a>
{% endif %}
  <script type="text/javascript">
    function themeSwitcherFunction () {
      node1=document.getElementById('theme_source');
      node2=document.getElementById('theme_source_2');
      if(node1.getAttribute('rel')=='stylesheet')
      {node1.setAttribute('rel', 'stylesheet alternate'); 
      node2.setAttribute('rel', 'stylesheet');
      sessionStorage.setItem('theme', 'dark');}
      else{node2.setAttribute('rel', 'stylesheet alternate'); 
      node1.setAttribute('rel', 'stylesheet');
      sessionStorage.setItem('theme', 'light');} 
      return false;

        // return true or false, depending on whether you want to allow the `href` property to follow through or not
    }
</script>

  <style>
    *{padding:0;margin:0;}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
  </style>

{% assign thepost = site.team %}
{% for post in thepost %}
 {{ post.content }}
{% endfor %}