---
layout: page
titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---

<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>
{% if site.text_skin2 %}
<a href="#" class="float" onclick="return themeSwitcherFunction();">
  <i class="fa fa-moon my-float"></i>
  </a>
{% endif %}
  <script type="text/javascript">
    function themeSwitcherFunction () {
      node1=document.getElementById('theme_source');
      node2=document.getElementById('theme_source_2');
      if(node1.getAttribute('rel')=='stylesheet')
      {node1.setAttribute('rel', 'stylesheet alternate'); 
      node2.setAttribute('rel', 'stylesheet');
      sessionStorage.setItem('theme', 'dark');}
      else{node2.setAttribute('rel', 'stylesheet alternate'); 
      node1.setAttribute('rel', 'stylesheet');
      sessionStorage.setItem('theme', 'light');} 
      return false;

        // return true or false, depending on whether you want to allow the `href` property to follow through or not
    }
</script>

  <style>
    *{padding:0;margin:0;}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
  </style>
{{ content }}
