---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>
<script>
  {%- include scripts/article.js -%}
</script>

<h4>Related Posts</h4>
<!--Projects Related Posts-->
{% if page.url contains 'projects' %}
<div class="row">
<div class="relatedPosts">
    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% for projects in site.projects %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in projects.tags %}
      {% if projects.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    <div class="column">
      <div>
      <h5><a href="{{site.baseurl}}{{projects.url}}">
        <div class="card">
            <div class="card__image">
              <img class="image" src="{{site.baseurl}}/assets/images/fish.jpg"/>
            </div>
            <div class="card__content">
              <div class="card__header">
                <h4>{{projects.title}}</h4>
              </div>
              <p>{{projects.tags}}</p>
            </div>
          </div>
      </a>
      </h5>
      </div>
    </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
 {% endfor %}
</div>
</div>
{% endif %}

<!-- Resources Related Posts
{% if page.url contains 'resources' %}
<div class="row">
<div class="relatedPosts">
    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% for resources in site.resources %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in resources.tags %}
      {% if resources.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    <div class="column">
      <div>
      <h5><a href="{{site.baseurl}}{{resources.url}}">
        <div class="card">
            <div class="card__image">
              <img class="image" src="{{site.baseurl}}/assets/images/resources/thumbnails/{{resources.title}}."/>
            </div>
            <div class="card__content">
              <div class="card__header">
                <h4>{{resources.title}}</h4>
              </div>
              <p>{{resources.tags}}</p>
            </div>
          </div>
      </a>
      </h5>
      </div>
    </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
 {% endfor %}
</div>
</div>
{% endif %} -->

<!--Blog Related Posts-->
{% if page.url contains 'blog' %}
<div class="row">
<div class="relatedPosts">
    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% for posts in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in posts.tags %}
      {% if posts.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    <div class="column">
      <div>
      <h5><a href="{{site.baseurl}}{{posts.url}}">
        <div class="card">
            <div class="card__image">
              <img class="image" src="{{site.baseurl}}/assets/images/blog/thumbnails/{{posts.title}}.png"/>
            </div>
            <div class="card__content">
              <div class="card__header">
                <h4>{{posts.title}}</h4>
              </div>
              <p>{{posts.tags[0]}}</p>
            </div>
          </div>
      </a>
      </h5>
      </div>
    </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
 {% endfor %}
</div>
</div>
{% endif %}


<style>
  * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #121212;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
</style>

<script src="https://utteranc.es/client.js"
        repo="arc-bphc/arc-bphc.github.io"
        issue-term="title"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
