---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>
<script>
  {%- include scripts/article.js -%}
</script>

{% if page.applause_button %}
  <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
  <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
{% endif %}

{% if page.applause_button %}
  <applause-button class="mb6"
    color={{ site.accent_color | default:'rgb(79,177,186)' }}
    url={{ site.url }}{{ page.url }} >
  </applause-button>
{% endif %}
<style>
  // applause-button

applause-button {
  width: 200px;
  height: 200px;
  margin: 50px;

  .count-container {
    color: inherit;
  }
}
</style>

<script src="https://utteranc.es/client.js"
        repo="arc-bphc/arc-bphc.github.io"
        issue-term="title"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
